.bg-img {
  /* The image used */
  background-image: url("/Images/deadvlei.jpg");
  min-height: 470px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  border: 1px solid black;
  left: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

/* Header */
header {
  background: #66CDAA;
  text-align: center;
  color: #ffffff;
  padding: 1rem;
}

/* Navigation Menu */
header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin: 0;
}

header nav ul li {
  list-style: none;
}

header nav ul a {
  text-decoration: none;
  color: #ffffff;
  margin: 1rem;
}